.envio {
  margin: 20px;
  background-color: hsl(213, 19%, 18%);
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 30px;
 
}

.hide { 
  display: none;
}

.envio img {
  margin-bottom: 20px;
}

.selected p {
  background-color: hsl(211, 19%, 23%);
  display: inline-block;
  padding: 6px 15px;
  border-radius: 9999px;
  color: hsl(25, 91%, 69%);
  margin-bottom: 10px;
}

p {
  text-align: center; /* Centralizar o texto */
}

h2 {
  color: white;
  margin-top: 20px;
}
